Repository kyma-project/telemetry-manager, pull requests merged in 2025-06, with the labels that each got.

#2179 chore: fix E2E test error output
  test/e2e-migrated/logs/agent/instrumentation_scope_test.go
  test/e2e-migrated/logs/agent/severity_parser_test.go
  test/e2e-migrated/logs/agent/trace_parser_test.go
  test/e2e-migrated/logs/fluentbit/app_name_test.go
  test/e2e-migrated/logs/fluentbit/base_payload_with_http_test.go
  test/e2e-migrated/logs/fluentbit/custom_filter_test.go
  test/e2e-migrated/logs/fluentbit/custom_output_test.go
  test/e2e-migrated/logs/fluentbit/custom_parser_test.go
  test/e2e-migrated/logs/fluentbit/dedot_test.go
  test/e2e-migrated/logs/fluentbit/keep_annotation_test.go
  test/e2e-migrated/logs/shared/check_metrics_endpoint_test.go
  test/e2e-migrated/logs/shared/container_selector_test.go
  test/e2e-migrated/logs/shared/disabled_input_test.go
  test/e2e-migrated/logs/shared/endpoint_validation_test.go
  test/e2e-migrated/logs/shared/extract_labels_test.go
  test/e2e-migrated/logs/shared/keep_original_body_test.go
  test/e2e-migrated/logs/shared/mtls_about_to_expire_cert_test.go
  test/e2e-migrated/logs/shared/mtls_cert_key_pair_dont_match_test.go
  test/e2e-migrated/logs/shared/mtls_expired_cert_test.go
  test/e2e-migrated/logs/shared/mtls_invalid_ca_test.go
  test/e2e-migrated/logs/shared/mtls_invalid_cert_test.go
  test/e2e-migrated/logs/shared/mtls_test.go
  test/e2e-migrated/logs/shared/multi_pipeline_broken_test.go
  test/e2e-migrated/logs/shared/multi_pipeline_fanout_test.go
  test/e2e-migrated/logs/shared/multi_pipeline_max_pipeline_test.go
  test/e2e-migrated/logs/shared/namespace_selector_test.go
  test/e2e-migrated/logs/shared/observed_time_test.go
  test/e2e-migrated/logs/shared/secret_rotation_test.go
  test/e2e-migrated/logs/shared/self_monitor_happy_path_test.go
  test/e2e-migrated/logs/shared/service_name_test.go
  test/e2e-migrated/logs/shared/single_pipeline_test.go
  test/e2e-migrated/logs/shared/single_pipeline_v1beta1_test.go
  test/e2e-migrated/upgrade/upgrade_test.go
  test/e2e/metrics/basic_v1alpha1_test.go
  test/e2e/metrics/basic_v1beta1_test.go
  test/e2e/metrics/runtime_input_test.go
  test/e2e/misc/overrides_test.go
  test/e2e/misc/telemetry_logs_analysis_test.go
  test/e2e/traces/basic_v1alpha1_test.go
  test/e2e/traces/basic_v1beta1_test.go
  test/integration/istio/access_logs_test.go
  test/integration/istio/logs_agent_self_monitor_backpressure_test.go
  test/integration/istio/logs_agent_self_monitor_outage_test.go
  test/integration/istio/logs_fluentbit_self_monitor_backpressure_test.go
  test/integration/istio/logs_fluentbit_self_monitor_outage_test.go
  test/integration/istio/logs_gateway_self_monitor_backpressure_test.go
  test/integration/istio/logs_gateway_self_monitor_outage_test.go
  test/integration/istio/metrics_cloud_provider_attributes_test.go
  test/integration/istio/metrics_self_monitor_outage_test.go
  test/integration/istio/traces_self_monitor_outage_test.go
  test/testkit/assert/interface.go
  test/testkit/assert/logs.go
  test/testkit/assert/monitoring.go
  test/testkit/assert/shared.go
Labels: area/tests, kind/chore

#2188 feat: update to fluent-bit 4.0.3
  .env
  docs/contributor/benchmarks/README.md
  internal/images/images.go
  sec-scanners-config.yaml
Labels: kind/feature, area/logs

#2189 chore: update self-monitor to prometheus 3.4.1
  .env
  docs/contributor/benchmarks/README.md
  internal/images/images.go
  sec-scanners-config.yaml
Labels: kind/chore, area/manager

#2192 feat: update to otel-collector 0.127.0
  .env
  docs/contributor/benchmarks/README.md
  internal/images/images.go
  sec-scanners-config.yaml
Labels: kind/feature, area/manager

#2193 feat: remove compatibility mode for internal metric changes
  docs/contributor/telemetry-internal-metrics.md
  docs/user/resources/01-telemetry.md
  internal/otelcollector/config/config.go
  internal/otelcollector/config/log/agent/config_builder.go
  internal/otelcollector/config/log/agent/config_builder_test.go
  internal/otelcollector/config/log/agent/testdata/config_compatibility_enabled.yaml
  internal/otelcollector/config/log/gateway/config_builder.go
  internal/otelcollector/config/log/gateway/config_builder_test.go
  internal/otelcollector/config/log/gateway/testdata/config_compatibility_enabled.yaml
  internal/otelcollector/config/metric/agent/config_builder.go
  internal/otelcollector/config/metric/agent/config_builder_test.go
  internal/otelcollector/config/metric/agent/testdata/config_compatibility_enabled.yaml
  internal/otelcollector/config/metric/gateway/config_builder.go
  internal/otelcollector/config/metric/gateway/config_builder_test.go
  internal/otelcollector/config/metric/gateway/testdata/config_compatibility_enabled.yaml
  internal/otelcollector/config/trace/gateway/config_builder.go
  internal/otelcollector/config/trace/gateway/config_builder_test.go
  internal/otelcollector/config/trace/gateway/testdata/config_compatibility_enabled.yaml
  internal/reconciler/logpipeline/otel/reconciler.go
  internal/reconciler/metricpipeline/reconciler.go
  internal/reconciler/telemetry/reconciler.go
  internal/reconciler/telemetry/telemetry_metric_emitter.go
  internal/reconciler/tracepipeline/reconciler.go
  internal/selfmonitor/config/rules.go
  internal/selfmonitor/config/rules_test.go
  internal/selfmonitor/config/testdata/rules_compatibility.yaml
  internal/utils/telemetry/utils.go
  internal/utils/telemetry/utils_test.go
  test/e2e/selfmonitor/metrics_healthy_test.go
Labels: kind/feature, area/metrics

#2180 feat: add istio enrichment processor
  .github/workflows/pr-integration.yml
  hack/deploy-istio.sh
  internal/otelcollector/config/log/gateway/config.go
  internal/otelcollector/config/log/gateway/config_builder.go
  internal/otelcollector/config/log/gateway/config_builder_test.go
  internal/otelcollector/config/log/gateway/processors.go
  internal/otelcollector/config/log/gateway/service.go
  internal/otelcollector/config/log/gateway/testdata/config.yaml
  internal/reconciler/logpipeline/otel/reconciler.go
  test/integration/istio/access_logs_otlp_test.go
  test/testkit/istio/istio.go
Labels: kind/feature, area/logs

#1565 chore: patch version into binary
  .dockerignore
  Dockerfile
  docs/contributor/telemetry-internal-metrics.md
  internal/build/info.go
  internal/build/info_test.go
  main.go
Labels: size/XS, kind/chore, area/manager, cla: yes

#2202 chore: update release process docs
  docs/contributor/releasing.md
Labels: area/documentation, kind/chore

#2198 fix: include the secret in checksum calculation for Log Agent
  .testcoverage.yml
  internal/resources/otelcollector/agent.go
  internal/resources/otelcollector/agent_test.go
  internal/resources/otelcollector/testdata/log-agent.yaml
  test/e2e-migrated/logs/shared/endpoint_validation_test.go
  test/e2e-migrated/logs/shared/resources_test.go
  test/e2e-migrated/logs/shared/secret_missing_test.go
  test/e2e-migrated/logs/shared/secret_rotation_test.go
  test/e2e/metrics/secret_rotation_test.go
  test/e2e/traces/secret_rotation_test.go
  test/testkit/k8s/objects.go
  test/testkit/k8s/secret.go
Labels: kind/bug, area/logs

#2214 chore: bump images for 1.42.0 release
  .env
  config/manager/kustomization.yaml
  internal/images/images.go
  sec-scanners-config.yaml
Labels: kind/chore, area/manager

#2195 feat: enable label enrichment for Metric and TracePipeline
  docs/user/gateways.md
  internal/otelcollector/config/log/agent/config_builder.go
  internal/otelcollector/config/log/gateway/config_builder.go
  internal/otelcollector/config/metric/gateway/config_builder.go
  internal/otelcollector/config/metric/gateway/processors.go
  internal/otelcollector/config/processors.go
  internal/otelcollector/config/processors/k8s_attribute_proc.go
  internal/otelcollector/config/processors/k8s_attribute_proc_test.go
  internal/otelcollector/config/trace/gateway/config_builder.go
  internal/otelcollector/config/trace/gateway/processors.go
  internal/reconciler/logpipeline/otel/reconciler.go
  internal/reconciler/metricpipeline/reconciler.go
  internal/reconciler/tracepipeline/reconciler.go
  test/e2e-migrated/logs/shared/extract_labels_test.go
  test/e2e/metrics/extract_labels_agent_test.go
  test/e2e/metrics/extract_labels_gateway_test.go
  test/e2e/traces/extract_labels_test.go
Labels: kind/feature, area/documentation, area/metrics, area/traces

#2216 chore: avoid running tests for experimental features on gardener cluster
  hack/gardener-integration-test.sh
Labels: area/tests, kind/chore

#2190 docs: extend and adapt user documentation - gateways' & agents' throughput limits
  docs/user/03-traces.md
  docs/user/04-metrics.md
  docs/user/gateways.md
  docs/user/logs.md
Labels: area/documentation, kind/docs

#2213 chore: migrate e2e metrics
  .github/workflows/pr-integration.yml
  test/e2e-migrated/metrics/endpint_with_path_validation_test.go
  test/e2e-migrated/metrics/endpoint_validation_test.go
  test/e2e-migrated/metrics/main_test.go
  test/e2e/metrics/endpoint_invalid_test.go
  test/e2e/metrics/endpoint_port_test.go
  test/e2e/metrics/endpoint_with_path_test.go
  test/testkit/assert/metrics.go
Labels: area/tests, kind/chore

#2194 feat: enable node network metrics
  .github/template/deploy-test-prerequisites/action.yaml
  .github/workflows/branch-integration.yml
  .github/workflows/gardener-integration.yml
  .github/workflows/pr-integration.yml
  .github/workflows/pr-upgrade.yml
  config/samples/shoot_info_cm.yaml
  docs/user/04-metrics.md
  hack/gardener-integration-test.sh
  hack/make/provision.mk
  internal/otelcollector/config/metric/agent/config.go
  internal/otelcollector/config/metric/agent/receivers.go
  internal/otelcollector/config/metric/agent/receivers_test.go
  internal/otelcollector/config/metric/agent/testdata/config_istio_enabled.yaml
  internal/otelcollector/config/metric/agent/testdata/config_istio_not_enabled.yaml
  test/e2e/metrics/cloud_provider_attributes_test.go
  test/e2e/metrics/runtime_input_test.go
  test/integration/istio/access_logs_otlp_test.go
  test/integration/istio/access_logs_test.go
  test/integration/istio/metrics_istio_envoy_multi_pipeline_test.go
  test/integration/istio/metrics_istio_input_envoy_metrics_test.go
  test/integration/istio/metrics_istio_input_test.go
  test/integration/istio/metrics_otlp_input_test.go
  test/integration/istio/metrics_prometheus_input_test.go
  test/integration/istio/traces_test.go
  test/testkit/k8s/configmap.go
  test/testkit/metrics/runtime/node.go
  test/testkit/suite/suite.go
Labels: kind/feature, area/documentation, area/metrics

#2231 chore: fix gardener workflow
  hack/make/provision.mk
Labels: area/ci, kind/chore

#2233 chore: bump images to release 1.43.0
  .env
  config/manager/kustomization.yaml
  internal/images/images.go
  sec-scanners-config.yaml
Labels: kind/chore, area/manager

#2236 fix: noisy access logs filter
  internal/otelcollector/config/log/gateway/config.go
  internal/otelcollector/config/log/gateway/config_builder_test.go
  internal/otelcollector/config/log/gateway/service.go
  internal/otelcollector/config/log/gateway/testdata/config.yaml
  test/integration/istio/access_logs_otlp_test.go
Labels: kind/bug, area/logs

#2239 feat: revert node metrics
  docs/user/04-metrics.md
  internal/otelcollector/config/metric/agent/config.go
  internal/otelcollector/config/metric/agent/receivers.go
  internal/otelcollector/config/metric/agent/receivers_test.go
  internal/otelcollector/config/metric/agent/testdata/config_istio_enabled.yaml
  internal/otelcollector/config/metric/agent/testdata/config_istio_not_enabled.yaml
  test/e2e/metrics/runtime_input_test.go
  test/testkit/metrics/runtime/node.go
Labels: kind/feature, area/metrics

#2240 chore: patch release 1.43.1
  .env
  config/manager/kustomization.yaml
  docs/user/04-metrics.md
  internal/otelcollector/config/log/gateway/config.go
  internal/otelcollector/config/log/gateway/config_builder_test.go
  internal/otelcollector/config/log/gateway/service.go
  internal/otelcollector/config/log/gateway/testdata/config.yaml
  internal/otelcollector/config/metric/agent/config.go
  internal/otelcollector/config/metric/agent/receivers.go
  internal/otelcollector/config/metric/agent/receivers_test.go
  internal/otelcollector/config/metric/agent/testdata/config_istio_enabled.yaml
  internal/otelcollector/config/metric/agent/testdata/config_istio_not_enabled.yaml
  sec-scanners-config.yaml
  test/e2e/metrics/runtime_input_test.go
  test/integration/istio/access_logs_otlp_test.go
  test/testkit/metrics/runtime/node.go
Labels: kind/chore, area/manager
